* {
  font-family: 'Acme', sans-serif;
  background-color: black;
  color: white;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

body {
  text-align: center;
}

h1 {
  margin: 0 auto;
  font-size: 48px;
  margin: 2%;
  margin-bottom: 0;
  margin-top: 5px;
}

a {
  text-decoration: none;
  color: #FEFEFE;
  font-size: 20px;
  margin-top: 40px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameover {
  position: absolute;
  width: 400px;
  height: 500px;
  background: rgba(0,0,0,0,0.5);
  display: none;
}

#restart {
  position: absolute;
  font-family: 'Acme', sans-serif;
  top: 230px;
  left: 130px;
  cursor: pointer;
  font-size: 2em;
  color: black;
  background: white;
}

#endImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 200px;
  width: 50%;
  height: 50%;
  padding-top: 30px;
  padding-bottom: 5px;
}
