* {
  font-family: 'Acme', sans-serif;
  background-color: black;
  color: white;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

body {
  text-align: center;
}

h1 {
  margin: 0 auto;
  font-size: 48px;
  margin: 2%;
  margin-bottom: 10px;
  margin-top: 5px;
}

a {
  text-decoration: none;
  color: #FEFEFE;
  font-size: 20px;
}

canvas {
  margin-bottom: 10px;
  cursor: none;
  border: "1px solid #000000";
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

#gameover {
  width: 400px;
  height: 600px;
  background: rgba(0,0,0,0,0.5);
  display: none;
}

#restart {
  font-family: 'Acme', sans-serif;
  top: 250px;
  cursor: pointer;
  margin-left: 30%;
  margin-right: 30%;
  font-size: 2em;
  color: black;
  background: white;
  margin-bottom: 15px;
}

#endImage {
  top: 150px;
  width: 30%;
  height: 30%;
  padding-top: 30px;
  padding-bottom: 5px;
}
