#gameover {
  position: absolute;
  width: 400px;
  height: 500px;
  background: rgba(0,0,0,0,0.5);
  display: none;
}

#win {
  width: 100px;
  position: absolute;
  top: 200px;
  left: 150px;
  display: none;
}

#lose {
  width: 100px;
  position: absolute;
  top: 200px;
  left: 150px;
  display: none;
}

#restart {
  position: absolute;
  top: 310px;
  left: 155px;
  cursor: pointer;
  font-size: 1.25em;
  color: #FFF;
}
