* {
  margin: 0;
  padding: 0;
  font-family: 'Acme', sans-serif;
}

header {
  color: 	#FEFEFE;
  font-size: 30px;
  background-color: #000000;
  text-align: center;
  padding: 30px;
}

body {
  background-color: #000000;
  color: #FEFEFE;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

nav {
  list-style: none;
  color: #FEFEFE;
  padding: 20px;
  background-color: #000000;
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: #FEFEFE;
  font-size: 20px;
}
