* {
  margin: 0;
  padding: 0;
  font-family: 'Acme', sans-serif;
  justify-content: center;
  align-items: center;
}

header {
  color: 	#FEFEFE;
  font-size: 30px;
  background-color: #000000;
  text-align: center;
  padding: 30px;
}

body {
  background-color: #000000;
  color: #FEFEFE;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

footer {
  text-align: center;
  font-size: 18px;
  font-style: italic;
  font-weight: lighter;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

a {
  text-decoration: none;
  color: #FEFEFE;
  font-size: 20px;
}

img {
  margin-top: 20px;
  width: 33%;
  height: 33%;
  padding-top: 30px;
  padding-bottom: 5px;
}
